html {
	height: 100%;
}

body {
	height: 100%;
	background: #FFFFFF;
	font-family: 'Georgia';
	font-size: 14px;
}

#wrap {
	height: 100%;
}

#header {
	padding: 40px 0 0 0;
	position: relative;
	z-index: 1000;
	border-top: 20px solid #000;

	.logo {
		background: url(../images/logo_editer_header.png) no-repeat;
		width: 221px;		
		height: 39px;
		height: inherit;
		margin-right: -12px;
		text-indent: -9999px;
		display: inline-block;
	}

	.description {
		margin: 10px 0 0 0;
	}

	.main-navigation { 
		padding: 0;
		margin: 40px 0 0 0;
		border-top: 1px solid #e5e5e5;
		border-bottom: 10px solid #000;

		> ul {
			
			margin: 0;
			padding: 0;
			
			> li {
			 	float: left;
				margin: 0 25px;
				padding: 0;
			 	position: relative;

			 	&.dropdown {
			 		background: url(../images/nav_arrow.png) no-repeat right 31px;
			 	}

			 	> a {
			 		display: inline-block;
					padding: 10px 0;
					@extend .novecento-bold;
					text-transform: uppercase;
			 		font-size: 10px;
			 		border-top: 3px solid #FFFFFF;
				 	@include transition-property(all);
				 	@include transition-duration(0.3s);
				 	@include transition-timing-function(ease-in-out);

			 	}

			 	> a:hover ,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a {
			 		border-top: 3px solid #000000;
			 	}

			 	&:hover .sub-menu {
			 		display: block;
			 		@include opacity(1);

			 	}

			 	.sub-menu {
			 		position: absolute;
			 		background: #161616;
			 		top: 35px;
			 		//border: 1px solid #2f2f2f;
			 		left: 50%;
			 		width: 170px;
			 		margin: 0 0 0 -90px;
			 		list-style: none;
			 		padding: 0;
			 		display: none;
			 		@include opacity(0);
			 		@include transition-property(opacity);
				
				 	&:after {
					    border-color: #161616 transparent;
					    border-style: solid;
					    border-width: 0 6px 6px 6px;
					    top: -6px;
					    content: "";
					    display: block;
					    left: 50%;
					    position: absolute;
					    width: 0;
					    margin-left: -3px;
					}
					
			 		li {
			 			margin: 0;
			 			padding: 0 10px;

			 			a {
			 				border-bottom: 1px solid #2f2f2f;
			 				padding: 10px 0;
			 				color: #FFFFFF;
			 				display: block;
			 				text-align: center;
							@extend .novecento-bold;
							text-transform: uppercase;
			 				font-size: 10px;

			 				&:hover {
			 					color: #e90000;
			 				}
			 			}
			 		}
			 	}
			 }
		} 
	}
}
		
			
#main {
	padding: 20px 10px 70px 10px;

	.home &,
	.single & {
		padding-top: 0;
	} 
}
		
#sidebar {
	margin: 0 0 0 5%;
	padding-top: 20px;
}


#subscribe {
	background: #f4f4f4;

	.gform_wrapper {
		background: url(../images/newsletter.png) no-repeat left bottom;
		padding: 10px 10px 10px 180px;

		form {
			@extend .clearfix;
		}

		.gform_heading {
			margin:  0;
			padding: 0 0 26px 0;

			.gform_title {
				margin: 0;
				text-transform: uppercase;

				&:nth-word(1){
					color: #7e0606;
					font-family: 'Didot W01 Italic', Georgia;
					font-weight: normal;
				} 
			}

			.gform_description {

			}
		}

		.gform_body {
			float: left;
			width: 80%;
			margin: -16px 0 0 0;

			.gform_fields {
				@extend .clearfix;

				.gfield {
					float: left;
					width: 31.7%;
					margin: 0 10px 0 0;
				}
			}
		}

		.gform_footer {
			float: left;
			width: 20%;

			.button {
				width: auto;
				margin: 0;
				padding: 0 50px;
				height: 32px;
				line-height: 31px;
				position: relative;
				background: #000;
				text-transform: uppercase;
				font-size: 10px;

				&:after {
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
					border-left: 8px solid #000;
				    top: 0px;
				    content: "";
				    display: block;
				    position: absolute;
				    width: 0;
				    right: -8px;
				}
			}
		}
	}
}

	
#footer {
	background: #000000;
	color: #737373;

	a {
		color: #737373;

		&:hover {
			color: #FFFFFF;
		}
	}
	
	> .inner {
		padding: 30px 0;
	}


	.footer-navigation {
		 ul {
		 	margin: 10px 0 10px 3px;
		 	padding: 0;
		 	list-style: none;

		 	li {
		 		list-style: none;
		 		padding: 1px 0;

		 		a {
		 			font-family: Arial, Helvetica, sans-serif;
		 			font-size: 11px;
		 		}
		 	}
		 }
	}

	.main-navigation {
		margin: 6px 0;
		> ul {
			list-style: none;
			margin: 0;
			padding: 0;

			> li {
				float: right;
				margin: 0 0 0 50px;
			 	position: relative;
				a {
					display: inline-block;
					padding: 0;
					text-transform: uppercase;
					@extend .novecento-bold;
			 		font-size: 11px;
				}

				ul {
					display: none;
				}
			}
		}
	}

	.social {
		width: 210px;
		margin: 20px 0 0 0;
		a {
			background-position: left bottom;
			
			&:hover {
				background-position: left top;
			}
		}
	}

	.logo {
		width: 253px;
		height: 28px;
		display: block;
		background: url(../images/logo_editer_footer.png) no-repeat left top;
		text-indent: -9999px;

		&:hover {
			background-position: left bottom;
		}
	}
}


#editors {
	margin: 40px 0 0 0;
	> .inner {
		padding: 10px 40px ;
	}	

	.header {
		.category-navigation {
			padding: 14px 0 0 0;
			ul {
				margin: 0;
				padding: 0;
				li {
					float: right;
					margin: 0 0 0 24px;
				 	position: relative;
					
					a {
						display: inline-block;
						padding: 10px 0;
						text-transform: uppercase;
						font-size: 10px;
						@extend .novecento-bold;
					}

					&.current a {
						color: #a40000;
					}
				}
			}
		}
	}
	.scroller {
		.scroller-pagination-mask {
			position: absolute;
			width: 100%;
			overflow: hidden;
			height: 153px;
			z-index: 300;

			.scroller-pagination {
				width: 20000px;
				top: 0;
				bottom: auto;
				text-align: left;

				li {
					display: block;
					float: left;
					margin: 0 1px 0 0;

					a {
						width: auto;
						background: none;
						height: 153px;
						position: relative;

						.overlay {
							@include transition-property(background);
							@include transition-duration(1s);
							background: rgba(0, 0, 0, 0.6);
							display: block;
						}
					}

					&.current a {
						.overlay {
							background: none;
						}
					}
				}
			}
		}

		.scroller-mask {
			z-index: 0;
			.scroll-item {
				padding-top: 153px;
				padding-bottom: 10px;

				> .inner {
					padding: 10px 400px 0 0;
				}

				.excerpt p {
					margin: 10px 0;
				}

				.social-links {
					margin: 10px 0 14px 0;
				}

				> hr {
					padding: 0 0px;
					width: 100%;
					margin: 0 0 20px 0;
					display: block;
				}
			}
		}
		.scroller-navigation {
			top: 150px;
			z-index: 200;

			.prev-btn {
				left: -40px;
			}

			.next-btn {
				right: -40px;
			}
		}
	}
}

#searchform {
	position: relative;

	input[type=text] {
		color: #7d7d7d; 
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10px;
		height: 25px;
		margin: 0;
		padding-left: 25px; 
		border-right: none;
		border-left: none;
		border-top: none;
		background: #f7f7f7 url(../images/icon_search.png) no-repeat 5px center;
	}

	input[type=submit] {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		height: 25px;
		width: 25px;
		display: none;
	}
}

#street-chics {
	margin: 20px 0;

	.posts {
		list-style: none;
		margin: 0 -10px;
		padding: 0;

		li {
			margin: 0 0px;

			a {
				position: relative;
				display: block;

				img {
					width: 100%;
					display: block;
				}
			}
		}
	}
}



#products {
	.product {
		float: left;
		border-right: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;

		&.third {
			border-right: none;
		}

		&.last-row {
			border-bottom: none;
		}

		
		> .inner {
			padding: 10px;
			width: 228px;
			height: 228px;
			position: relative;
		}

		.product-header {
			width: 90px;
			position: absolute;
			padding: 10px;
			z-index: 200;
			top: 0;
			left: 0;
			background: #FFF;
			background: rgba(255, 255, 255, 0.8);
		}

		.thumbnail {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;
			img {
				border: none;
			}
		}

		.crosshair {
			position: absolute;
			width: 25px;
			height: 25px;
			top: -13px;
			right: -13px;
			background: url(../images/icon_crosshair.png) no-repeat;
			z-index: 0;
		}
	}
}

/* =============================================================================
   Pages
   ========================================================================== */


#front-page {

	#homepage-sidebar {
		margin: 0 5% 0 0;
	}
	#homepage-scroller {
		height: 350px;
		margin-bottom: 20px;

		.scroller-mask {
			height: 100%;
			.scroll-items-container {	
				margin-left: 0px;
			}
		}

		.scroll-item {
			padding-bottom: 0;
			width: 790px;
			position: relative;
			float: left;
			left: auto;
			top: auto;
			padding-left: 1px;
			display: block;

			> .post {
				position: relative;
			}

			> .overlay {
				display: block;
				cursor: pointer;
			}

			&.current > .overlay {
				display: none;
				cursor: default;
			}

			.featured-image {
				img {
					@include transition(all 1s ease);
					display: block;
					width: 100%;
				    filter: url(../svg/filters.svg#grayscale); 
				    filter: gray;
				    -webkit-filter: grayscale(1);
				}
			}

			&.current .featured-image img,
			&.hover .featured-image img {
				filter: none;
				-webkit-filter: grayscale(0);
			}
			
			&.dark {
				color: #FFF;

				a {
					color: #FFF;
				}
			}

			&.light {
				color: #000;

				a {
					color: #000;
				}
			}
			.content {
				z-index: 100;
				position: absolute;
				top: 0px;
				padding: 0;
				left: 0px;
				
				a:hover {
					color: #a40000;
				}

				.header {
					margin-bottom: 40px 
				}				 
			}

		}

		.scroller-navigation {
			.prev-btn {
				left: 110px;
			}

			.next-btn {
				right: 110px;
			}
		}
	}

	#feature-category {
		margin: 30px 0 0 0;

		.category-title {
			margin: 0 0 10px 0;
		}

		.post {
			.post-meta {
				.title {
					margin: 10px 0 0 0;
				}

				.with {
					margin: 0;
				}

				.logo {
					margin: 5px 0 10px 0;
				}
			}
		}
	}

	#eighth-post {
		margin: 40px 0 0 0;

		.post {
			.post-meta {
				padding: 5px 90px 0 90px;
			}
		}
	}
}

#index {
	#content {
		.posts {
			margin: 30px 0;
			.month {

			}

			ul {
				list-style: none;
				margin: 0 0 20px 0;
				padding: 0;
				background: url(../images/border_dotted_02.png) repeat-x top left;
			}

			&.grid {
				li {
					margin: 10px 5px 0 5px;


					&.one {
						margin-left: 0;
					}

					&.three {
						margin-right: 0;
					}

					a {
						position: relative;
						display: block;

						img {
							display: block;
						}

						.title {
							margin-top: 40px;
						}
					}
				}
			}

			&.list {

				li {
					padding: 20px 0;
					background: url(../images/border_dotted_02.png) repeat-x bottom left;

					.post-excerpt {
						margin: 10px 0 0 0;
					}
				}
			}
		}
	}
}


#single {
	#content {

		> .post {

			.post-header {
				min-height: 80px;
			}

			> .content {
				padding: 0 100px;

				.post-content {
					a {
						text-decoration: underline;
					}

					.size-large,
					.size-full {
						float: none;	
						display: block;
						margin: 30px 0 30px -100px;
					}

					.size-medium {
						margin-top: 30px;
						margin-bottom: 30px;
						&.alignleft,
						&.left {
							margin-left: -100px;
						}
						&.alignright,
						&.right {
							margin-right: -100px;
						}
					}

					> ul {

						> li {
							line-height: 20px;
							font-size: 13px;
							margin: 4px 0;
						}
					}

					> .red-list {
						> li {
							padding-left: 20px;
							background-position: 0 10px;
						}
					}
				}
			}

			&.standard > .content {
				margin-top: -100px;
				position: relative;
				z-index: 200;

				> .inner {
					background: #FFF;
				}

				.post-meta {
					padding-top: 40px;
					padding-bottom: 10px;

					.post-category {
						a {
							padding: 5px 0;
							border-bottom: 3px solid #a40000;
							font-size: 12px;
						}
					}

					.title {
						margin: 40px 0;
					}
				}
			}

			&.gallery {
				.post-header {
					margin: 0 0 40px 0;
					.scroller {
						.scroller-pagination {
							position: relative;
							text-align: left;
							width: auto;
							margin: 40px -5px 0 -5px;

							li {
								margin: 5px 5px;
								padding: 0;
								a {
									background: none;
									width: auto;
									height: auto;

									&:after {
										@include transition(all 0.5s ease);
									}
								}

								&.current a:after,
								& a:hover:after {
									content: '';
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									@include box-shadow(inset 0 0 0 5px #a40000);
								}
							}
						}
					}

					.content {
						padding: 30px 20px;
						margin: 6% -8% 0 -6%;
						background: #FFF;
						width: 46%;

						.post-meta {
							.post-category {
								margin: 0 0 5px 0;
								a {
									padding: 3px 0;
									border-bottom: 3px solid #a40000;
								}
							}
						}
					}
				}
			}


			> .footer {
				margin: 30px 0;
				min-height: 175px;

				&.small {
					margin: 0 0 30px 0;
					min-height: 0;
					.share {
						position: relative;
					}
				}
				.share {
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}

			&.gallery {
				
				.gallery-scroller {
					border: none;
					padding-top: 0;
					padding-bottom: 0;

					.scroller-mask {
						.scroll-items-container {
							.scroll-item {
								width: 692px;
								padding: 0;
							}
						}
					}
				}
			}

			&.category-hit-the-streets {
				margin-top: 20px;

				.post-header {
					border: 1px solid #B8B8B8;
					position: relative;
					top: 3px;
					left: 3px;
					> .inner {
						border: 1px solid #878787;
						background: #FFF;
						position: relative;
						top: -3px;
						left: -3px;
						padding: 10px 0;
					}

					.content {
						padding-top: 200px;

						.header {
							.category-image {
								margin: 0 -5px 0  -30px;
							}
						}
						.post-meta {
							padding-top: 20px;
							
							> hr {
								margin-bottom: 30px;
							}

						}
					}
					.navigation {
						margin-top: 30px;

						> .inner {
							position: relative;
						}

						.prev-btn {
							width: 40px;
							height: 40px;
							display: block;
							background: url(../images/btn_arrow_left.jpg) no-repeat;
							position: absolute;
							left: 0;
							top: 50%;
							margin-top: -20px;
							&:hover {
								background-position: left bottom;
							}
						}
						.next-btn {
							width: 40px;
							height: 40px;
							display: block;
							background: url(../images/btn_arrow_right.jpg) no-repeat;
							position: absolute;
							right: 0;
							top: 50%;
							margin-top: -20px;
							&:hover {
								background-position: left bottom;
							}
						}
					}
				}

				.post-content {
					.embed-page {
						margin-left: 0;
					}
				}
			} 
		}
	}

	.single-footer {
		margin: 40px 0 20px 0;
	}
}

#category {

	#category-sidebar {
		margin: 0 5% 0 0;
	}
	> .paged {
		.header {
			.category-navigation {
				
				margin: 20px 0;
				z-index: 100;
				position: relative;
				top: 4px;
				left: 4px;
				border: 1px solid #000;
				width: 100%;
				height: 100%;
				display: block;
				
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					top: -4px;
					left: -4px;
					border: 1px solid #000;
					background: #FFF;
					position: relative;
					z-index: 100;
	
					li {
						margin: 0 12px;
						float: left;

						a {
							display: inline-block;
							padding: 10px 0;
							@extend .novecento-demibold;
							text-transform: uppercase;
							font-size: 10px;
							color: #333333;
						}

						&.current-cat a {
							color: #a40000;
						}
					}
				}
			}
		}
	}
	#posts {
		margin: 50px 0 0 0;

		.post {
			
			&.large {
				margin: 0 0 40px 0;
			}

			&.small {
				width: 47.5%;
				padding: 0;
				margin: 0 0 40px 0;

				.thumbnail {
					img {
						display: block;
					}
				}	

				.title {
					margin: 6px 0 0 0;
				}

				.excerpt {
					margin: 2px 0;
				}		
			}

			.post-meta {
				width: 70%;
				margin: 0 auto;
				padding: 5px 0 0 0;
			}
		}
	}
}

#single-editor {

	.editor {
		.editor-header {
			margin: 0 0 18px 0;
			
			.social-links {
				margin: 10px 0 0 0;
				> .inner {
					padding: 10px 0;
				}

				a {
					font-size: 9px;
					text-transform: none;
					margin: 0 20px 0 0;
				}
			}
		}

		.editor-edits {
			margin: 40px 0;

			.navigation {
				margin: 20px 0;
			}

			.posts {
				list-style: none;
				margin: 0;
				padding: 0;
				background: url(../images/border_dotted_02.png) repeat-x top left;

				&.grid {
					li {
						margin: 10px 5px 0 5px;


						&.one {
							margin-left: 0;
						}

						&.three {
							margin-right: 0;
						}

						a {
							position: relative;
							display: block;

							img {
								display: block;
							}

							.title {
								margin-top: 40px;
							}
						}
					}
				}

				&.list {

					li {
						padding: 20px 0;
						background: url(../images/border_dotted_02.png) repeat-x bottom left;

						.post-excerpt {
							margin: 10px 0 0 0;
						}
					}
				}
			}
		} 
	}
}

#search {
	.search-header {
		margin: 0 0 30px 0;
		> .inner {
			padding: 30px;
		}
	}

	#posts {
		.post {
			padding: 10px 0;
		}
	}
}

#error {
	.error-header {
		padding: 40px 0;

		.title {
			line-height: 60px;
			font-size: 80px;
			margin: 40px 0;
		}
	}

	.error-search {
		> .inner {
			padding: 30px;
		}
	}

	.error-footer {
		margin: 30px 0;
	}
}

#single-shop {

	#content {
		margin: 20px 0 0 0;
		
		> .shop {
			margin: 0 0 20px 0;

			.post-header {
				position: relative;

				> .inner {
					padding: 20px;
				}

				.category-image {
					width: 200px;
				}

				.post-meta {
					margin: 20px 0;
				}
			}
		}

	}
	.products-footer {
		margin: 40px 0;
	}
}

#single-product {
	.post {

		.entry-meta {
			width: 60%;
			margin: 30px auto 10px auto;
		}

		.size-large {

		}
		
		.size-large,
		.size-full {
			display: block;
			margin: 30px 0 30px -88px;
		}

		.size-medium {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.size-medium.alignleft {
			margin-left: -88px;
		}

		&.format-gallery {
			> .inner {
				padding: 0 0 30px 0;
			}

			.post-content {
				.gallery-scroller {
					border: none;
					width: 692px;

					.scroller-mask {
						.scroll-items-container {
							margin-left: -712px;
							.scroll-item {
								width: 692px;
								padding: 0;
							}
						}
					}
				}
			}
		} 
	}


	.single-product-footer {
		margin: 40px 0 20px 0;
	}
}

#page {
	.page-header {
		.title {
			margin-top: 0px;
		}
	}

	.page-content {

		a {
			text-decoration: underline;
		}

		a:hover {
			color: #000000;
		}

		ul {
			padding: 0 15px;

			li {
				padding: 0 0 0 10px;
				margin: 6px 0;
				line-height: 20px;
			}
		}
	}
}


#template-striped-border {

	.page-content {

		a {
			color: #8e8e8e;
		}

		a:hover {
			color: #000000;
		}

		ul {
			padding: 0 15px;

			li {
				padding: 0 0 0 10px;
				margin: 6px 0;
				line-height: 20px;
			}
		}
	}
}

#template-competition {
	#content {
		background: url(../images/bg_competition.jpg) no-repeat 0 0;
		height: 1150px;
		.page {
			.page-content {
				width: 565px;
				padding: 70px 0 0 0;
				margin: 0 auto;

				> .top {
					background: #ffffff;
					padding: 10px 0 20px 0;
				}

				> .middle {
					margin: 8px 0 0 0;
				}

				> .bottom {
					padding: 2px 0;
				}

				.form {
					width: 56%;
				}

				.share {

					width: 44%;

					.title {
						padding: 0 0 0 85px;
						background: url(../images/title_competition_share.png) no-repeat left center;
						font-size: 20px;
						line-height: 33px;
					}

					.content {
						.tooltip-btn {
							.tooltip {
								bottom: 50px;
							}
						}
					}
				}

				.gform_wrapper {
					padding: 10px 0px 10px 10px;

					.gform_heading {
						margin: 0;
					}

					.validation_error {
						display: none;
					}

					.gform_body {
						margin: 8px 0;

						.gfield {


							// input[type=text],
							// input[type=email],
							// input[type=password] {
							// padding: 5px 4px;
							// }

							.gfield_checkbox {
								padding: 0;
								margin: 4px 0;
								list-style: none;

								li {
									clear: both;
									
									.gfield_label {
										display: none;
									}

									input[type=checkbox]{
										float: left;
									}

									label {
										margin: 0 0 0 20px;
									} 
								}
							}
						}
					}
					.gform_footer {
						text-align: right;

						.button {
							font-weight: bold;
							background: #a40000;
							position: relative;
							color: #FFFFFF !important;
							font-family:'Novecento W00 Wide Bold', Helvetica, Arial, sans-serif;
							text-transform: uppercase;
							font-size: 9px;
							display: inline-block;
							text-decoration: none !important;
							width: auto;
							padding: 0 30px;

							&:hover {
								background: #720000;
							}
							
							&:after {
								border-top: 8px solid transparent;
								border-bottom: 8px solid transparent;
								border-left: 8px solid #a40000;
							    top: 0px;
							    content: "";
							    display: block;
							    position: absolute;
							    width: 0;
							    right: -8px;
							}

						}
					}
				}

				#gforms_confirmation_message {
					padding: 20px;
				}
			}
		}
	}
}